window {
    background-color: #000;
    font-family: '8bitoperator JVE';
    font-size: 32px;
}

#input {
    border: none;
    color: #f8f8f2;
    background-color: #000;
}

#inner-box {
    border: none;
    background-color: #000;
}

#outer-box {
    margin: 32px;
    border: none;
    background-color: #000;
}

#text {
    margin: 5px;
    border: none;
    color: #fff;
} 

#entry {
    color: #fff;
}

#text:selected{
    color: #ff0;
}

#entry:selected {
    background-color: #000;
}